$color-background: #f3f7fb;
$color-font: #364862;
$color-secondary: #ff7959;
$color-secondary-bg: #ffe1da;;
$color-secondary-bg-hover: #ffd3c9;
$color-primary: #6a5eff;
$color-primary-bg: #dbd8ff;;
$color-primary-bg-hover: #c1bcff;
$color-primary-extra-light: #f1f0ff;