@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.articles {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: opacity 200ms;

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
        }

        &.enter {
            opacity: 0;
        }

        &.enter-active {
            opacity: 1;
        }

    }
}

.categories {
    &__container {
        display: flex;
        flex-flow: wrap;

        .button {
            &:not(:last-child) {
                margin-right: 20px;
            }

            margin-bottom: 10px;
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.enter,
    &.appear {
        opacity: 0;
        max-height: 0;
    }

    &.enter-active,
    &.appear-active {
        transition: all .3s;
        max-height: 600px;
        opacity: 1;
    }

    &.exit {
        opacity: 1;
        max-height: 600px;
    }

    &.exit-active {
        max-height: 0;
        opacity: 0;
        transition: all .3s;
    }
}